name: Deploy

on:
  push:
    branches:
      - main

jobs:
  create-envfile:
 
    runs-on: ubuntu-latest
 
    steps:
    - name: Make envfile
      uses: SpicyPizza/create-envfile@v2.0
      with:
        envkey_DATABASE_URL: ${{ secrets.DATABASE_URL }}
        envkey_AUDIENCE_ISSUER_URL: ${{ secrets.AUDIENCE_ISSUER_URL }}
        envkey_AUDIENCE_CLIENT_ID: ${{ secrets.AUDIENCE_CLIENT_ID }}
        file_name: .env
  test-and-deploy:
    runs-on: ubuntu-latest
    needs: create-envfile

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install --no-cache-dir -r vehicle/requirements.txt
        pip install pytest

    - name: Run tests
      run: |
        pytest

    - name: Deploy if tests pass
      if: success()
      run: |
        npm install -g serverless@3.38.0
        npm install -g serverless-dotenv-plugin
        serverless deploy --verbose
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_REGION: us-east-1
        DATABASE_URL: ${{ secrets.DATABASE_URL }}
        AUDIENCE_ISSUER_URL: ${{ secrets.AUDIENCE_ISSUER_URL }}
        AUDIENCE_CLIENT_ID: ${{ secrets.AUDIENCE_CLIENT_ID }}

    - name: Clean up .env file
      if: success()
      run: rm .env
